// _mixins.scss

@mixin pop-in($scaleStart) {
  @keyframes popIn {
    0% {
      opacity: 0;
      transform: scale(#{$scaleStart}, #{$scaleStart});
    }
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }
}

@mixin vertical-shake($translateY) {
  @keyframes verticalShake {
    0% {
      transform: translateY(#{$translateY});
    }
    50% {
      transform: translateY(-#{$translateY});
    }
    100% {
      transform: translateY(0);
    }
  }
}

/**
 * Utilize Vue's Transition component for fade in-out affect
 * <Transition name="fade">
 *
 * $duration - Transition duration in seconds
 */
@mixin vue-fade($duration) {
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity #{$duration}s ease;
  }

  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }
}

/**
 * Utilize Vue's Transition component: name="slide"
 * <Transition name="slide">
 *
 * $duration - Transition duration in seconds
 * $translateX - Amount to reposition an element horizontally in px
 */
@mixin vue-slide-x($duration, $translateX) {
	.slide-enter-active {
		transition: all #{$duration}s ease;
	}

	.slide-leave-active {
		transition: all #{$duration}s ease;
	}

	.slide-enter-from,
	.slide-leave-to {
		transform: translateX(#{$translateX}px);
	}
}