// _variables.scss

// Colors
$background-color-base: #FFFFFF;
$color-black: #333333;
$color-dark-grey: #808080;
$color-light-grey: #BFBFBF;
$color-white: #FFFFFF;

// Fonts
$standard-font-family: Futura,Trebuchet MS,Arial,sans-serif;

// Screen Width Breakpoints
$screen-breakpoint-xs: 460px;
$screen-breakpoint-sm: 640px;
$screen-breakpoint-md: 768px;
$screen-breakpoint-lg: 1024px;
$screen-breakpoint-xl: 1280px;

// Spacing
$standard-spacing: 1.25rem;
$large-spacing: 2rem;

// Border
$standard-border: 1px solid $color-black;

// Other
$standard-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
