// _variables.scss

// Colors
$base-background-color: #FFFFFF;
$color-black: #333333;
$color-dark-grey: #808080;
$color-light-grey: #BFBFBF;
$color-white: #FFFFFF;

// Fonts
$standard-font-family: Futura,Trebuchet MS,Arial,sans-serif;

// Spacing
$standard-spacing: 1.25rem;
$large-spacing: 2rem;

// Border
$standard-border: 1px solid $color-black;

// Other
$standard-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
