@import 'variables';
@import 'mixins';

:root {
	font-family: $font-family-standard;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: $color-black;
	background-color: $background-color-base;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
  
#app {
  margin: 0 auto;
  font-weight: normal;
	min-height: 100vh;
  min-width: 400px;
	display: flex;
	flex-direction: column;
}

body {
	margin: 0;
}

a {
  text-decoration: none;
  transition: 0.4s;
  color: $color-black;
}

.u-hidden {
	display: none;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}