:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(0, 0, 0, 0.87);
	background-color: #FFFFFF;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

/*
Poppy Red: #FF2400
Sky Blue: #87CEEB
Canary Yellow: #FFFF99
Forest Green: #228B22
Jet Black: #000000
Pure White: #FFFFFF
Pastel Pink: #FFD1DC
Cobalt Blue: #0047AB
*/
  
#app {
  margin: 0 auto;
  font-weight: normal;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

body {
	margin: 0;
}

a {
  text-decoration: none;
  transition: 0.4s;
  color: black;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
