:root {
  --base-background-color: #FFFFFF;
  --color-black: #333333;
  --color-dark-grey: #808080;
  --color-light-grey: #BFBFBF;
  --color-white: #FFFFFF;
  --standard-spacing: 1.25rem;
  --standard-border: 1px solid var(--color-black);
  --standard-font-family: Futura,Trebuchet MS,Arial,sans-serif;

  font-family: var(--standard-font-family);
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: var(--color-black);
	background-color: var(--base-background-color);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
  
#app {
  margin: 0 auto;
  font-weight: normal;
	min-height: 100vh;
  min-width: 400px;
	display: flex;
	flex-direction: column;
}

body {
	margin: 0;
}

a {
  text-decoration: none;
  transition: 0.4s;
  color: var(--color-black);
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
